<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Employee</title>
</head>
<body>
<form action="#" th:action="@{/add}" th:object="${employee}" method="post">
    <label for="firstName">First Name:</label><br>
    <input type="text" id="firstName" th:field="*{firstName}"><br>
    <label for="lastName">Last Name:</label><br>
    <input type="text" id="lastName" th:field="*{lastName}"><br>
    <label for="position">Position:</label><br>
    <input type="text" id="position" th:field="*{position}"><br>
    <label for="salary">Salary:</label><br>
    <input type="number" id="salary" th:field="*{salary}"><br>
    <input type="submit" value="Submit">
</form>
</body>
</html>
